extends ../index.jade
block content
  h1.h1 Port not exposed
  p.p The container for&#32;
    strong.strong #{instanceName}
    | &#32;is running, but this port is not exposed.
  p.p Exposed ports: #{''}
    if (!ports || ports.length === 0)
      span.span (none)
    else
      each port, index in ports
        if (index !== 0)
          span , #{''}
        a.link(
          href = ":#{port}"
        ) #{port}
  a.link(
    href = "https://app.runnable.io/#{ownerName}/#{instanceLowername}"
  ) View in Runnable
