extends ../index.jade
block content
  h1.h1 Oops!
  p.p We can’t reach the container for
    strong.strong  #{instanceName}
    |  even though it’s running and this port is exposed.
  p.p Make sure your service is listening on all interfaces (e.g. bind to 0.0.0.0).
  p.p Other exposed ports: #{''}
    if (!ports || ports.length === 0)
      span.span (none)
    else
      each port, index in ports
        if (index !== 0)
          span , #{''}
        a.link(
          href = ":#{port}"
        ) #{port}
